<html>

<head>
    <link rel="stylesheet" href="../style.css" />
</head>

</html>
<div>
    <h1>TEAMS</h1>
    <ul>
        <a class="inner button" href="http://localhost:8000/Colorado/1011 CRUSH">1011 CRUSH</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1157 Landsharks">1157 Landsharks</a>
        <a class="inner button" href="http://localhost:8000/Colorado/118 Robonauts">118 Robonauts</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1245 MoHi Shazbots">1245 MoHi Shazbots</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1303 WYOHAZARD">1303 WYOHAZARD</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1332 Swift">1332 Swift</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1339 AngelBotics">1339 AngelBotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1410 The Kraken">1410 The Kraken</a>
        <a class="inner button" href="http://localhost:8000/Colorado/148 Robowranglers">148 Robowranglers</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1583 Ridge View Academy Rambotics">1583 Ridge View Academy Rambotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1584 Pirates">1584 Pirates</a>
        <a class="inner button" href="http://localhost:8000/Colorado/159 Alpine Robotics">159 Alpine Robotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1619 Up-A-Creek Robotics">1619 Up-A-Creek Robotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1730 Team Driven">1730 Team Driven</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1799 Wired Up!">1799 Wired Up!</a>
        <a class="inner button" href="http://localhost:8000/Colorado/1977 The PowerSquids ">1977 The PowerSquids </a>
        <a class="inner button" href="http://localhost:8000/Colorado/2036 The Black Knights">2036 The Black Knights</a>
        <a class="inner button" href="http://localhost:8000/Colorado/2083 Team BLITZ">2083 Team BLITZ</a>
        <a class="inner button" href="http://localhost:8000/Colorado/2240 Brute Force">2240 Brute Force</a>
        <a class="inner button" href="http://localhost:8000/Colorado/2259 1;4 Twenties">2259 1;4 Twenties</a>
        <a class="inner button" href="http://localhost:8000/Colorado/2261 Casa Robotics">2261 Casa Robotics</a>
        <a class="inner button" href="http://localhost:8000/colorado/2848%20%E2%9A%A1%20ALL%20SPARKS%20%E2%9A%A1">2848 ⚡ ALL SPARKS ⚡</a>
        <a class="inner button" href="http://localhost:8000/Colorado/2945 Steel Mustangs">2945 Steel Mustangs</a>
        <a class="inner button" href="http://localhost:8000/Colorado/2996 Cougars Gone Wired">2996 Cougars Gone Wired</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3005 RoboChargers">3005 RoboChargers</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3200 Raptacon">3200 Raptacon</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3288 Punchers">3288 Punchers</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3374 Jackson Hole RoboBroncs">3374 Jackson Hole RoboBroncs</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3648 Sparta Robotica">3648 Sparta Robotica</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3729 The Raiders">3729 The Raiders</a>
        <a class="inner button" href="http://localhost:8000/Colorado/3807 Overland BlazerBots">3807 Overland BlazerBots</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4068 Palmer Ridge BEARbotics">4068 Palmer Ridge BEARbotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4153 Project Y">4153 Project Y</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4293 Komodo">4293 Komodo</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4386 Mecha-maniacs">4386 Mecha-maniacs</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4388 Ridgebotics">4388 Ridgebotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4418 Team IMPULSE">4418 Team IMPULSE</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4499 The Highlanders">4499 The Highlanders</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4550 Something's Bruin">4550 Something's Bruin</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4593 Rapid Acceleration">4593 Rapid Acceleration</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4641 HazMat Hawks">4641 HazMat Hawks</a>
        <a class="inner button" href="http://localhost:8000/Colorado/4944 The Hi Fives">4944 The Hi Fives</a>
        <a class="inner button" href="http://localhost:8000/Colorado/5126 Electromagnetic Panthers (E.M.P.)">5126 Electromagnetic Panthers (E.M.P.)</a>
        <a class="inner button" href="http://localhost:8000/Colorado/5414 Pearadox">5414 Pearadox</a>
        <a class="inner button" href="http://localhost:8000/Colorado/5493 SMAbotics AG">5493 SMAbotics AG</a>
        <a class="inner button" href="http://localhost:8000/Colorado/5657 Rawhide Robotics">5657 Rawhide Robotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/5763 Lightning Robotics">5763 Lightning Robotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/5899 FROST">5899 FROST</a>
        <a class="inner button" href="http://localhost:8000/Colorado/6459 AG Robotik">6459 AG Robotik</a>
        <a class="inner button" href="http://localhost:8000/Colorado/662 Rocky Mountain Robotics">662 Rocky Mountain Robotics</a>
        <a class="inner button" href="http://localhost:8000/Colorado/698 Hamilton Microbots">698 Hamilton Microbots</a>
        <a class="inner button" href="http://localhost:8000/Colorado/7243 High Tech Early College">7243 High Tech Early College</a>
    </ul>
</div>