html
  head
    link(rel='stylesheet', href='./style.css')

  body
    div
      h1 events
      ul
        - for (var val = 0; val < eventDir.length; val++)
          - var event = eventDir[val];
          - var link = `http://localhost:8000/${event}`;
          button.button
            a.inner(href=link) #{event}