html
  head
    link(rel='stylesheet', href='../style.css')
div
  h1 #{name}
  ul
    - for (var val = 0; val < teamDir.length; val++)
      a(class='button' href=`localhost:8000/ui/${event}/${teamDir[val]}.html`) #{teamDir[val]}